<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles/App.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
</head>

<body>
    <header>

        <img src="./img/netflix-logo.png" alt="Unable to load Logo" id="logo">
    </header>
    <div class="container">
        <div class="box">

            <div class="heading" id="main">
                Sign In
            </div>
            <form action="#">
                <input type="text" placeholder="Email or phone number" size="26" id="email">
                <input type="password" placeholder="Password" id="password">
            </form>
            <div class="btn">
                <button type="button" value="submit" onclick="signin()">Sign In</button>
            </div>
            <div id="help-section">
                <span id="remember">
                    <input type="checkbox" checked id="checkbox"> Remember me
                </span>
                <span id="help">
                    Need help?
                </span>
            </div>
            <div id="details">
                <span id="new-to-netflix">
                    New to Netflix?
                </span>
                <div id="signup">
                    Sign Up now.
                </div>
            </div>
            <span id="re-captcha">This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">
                    Learn
                    more.</a></span>
        </div>
    </div>
    <footer id="contact">
        <span id="question-line">
            Questions? Call 000-800-040-1843
        </span>
        <ul id="line1">
            <li>
                FAQ
            </li>
            <li>
                Help Centre
            </li>
            <li>
                Terms of Use
            </li>
            <li>
                Privacy
            </li>

        </ul>
        <ul id="line2">
            <li>

                Cookie Preferences
            </li>

            <li>
                Coorporate Information
            </li>
        </ul>
    </footer>
</body>

</html>