<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../styles/App.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
</head>

<body>
    <header>

        <img src="../img/netflix-logo.png" alt="Unable to load Logo" id="logo">
    </header>
    <div class="container">
        <div class="box">
            <form action="/route/logout" method="POST">

                <div class="heading" id="main">
                    You are Logged in as Admin
                </div>
                <div class="btn">
                    <button>Logout</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>