*,
body {
    border: 0px;
    padding: 0px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

html {
    background: url(/img/background.jpg) no-repeat;
    background-size: cover;
    display: block;
    height: 145%;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    z-index: -1;
}

html::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

#logo {
    height: 87px;
    margin-left: 2.5pc;
}

/* BOX  */
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto auto;

}

.box {
    color: white;
    background: rgba(0, 0, 0, 0.68);
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-left: 66px;
    max-width: 450px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 4pc;
}

.box #main {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 27px;
}

form input {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    width: 18pc;
    height: 3.3pc;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #333232;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.btn {
    margin-top: 1.6pc;
    padding-bottom: 12px;
}


#checkbox {
    width: 15px;
    height: 15px;
}

button {
    width: 20pc;
    height: 3pc;
    border-radius: 5px;
    background-color: #e50914;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
input[type = checkbox]+label::before{
    background: #737373;
    border: 0;
    border-radius: 2px;
    height: 16px;
    left: -20px;
    width: 16px;
}

#help {
    padding-left: 8.6pc;
    font-size: 13px;
    color: #b3b3b3;
}

#remember {
    font-size: 13px;
    color: #b3b3b3;
}

#help-section {
    margin-bottom: 5pc;
}

#details {
    display: flex;
    margin-bottom: 8px;
}

#new-to-netflix {
    font-size: 15px;
    color: #b3b3b3;
}

#signup {
    padding-left: 5px;
}

#signup:hover{
    text-decoration: underline;
}

#re-captcha {
    font-size: 12.5px;
    color: #b3b3b3;
    margin-bottom: 6pc;
}

#re-captcha a {
    text-decoration: none;
}

#contact ul li {

    list-style: none;
    padding-right: 1pc;
    display: block;
    min-width: 190px;
}

#contact {
    color: #706d6d;
    font-size: 13px;
    background: rgba(0, 0, 0, .65);
    min-width: 190px;
    width: 100%;
    margin-top: 3.5pc;
    color: #757575;
    position: absolute;

}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#line1,
#line2 {
    display: flex;
}
#question-line{
    font-size: 15px;
    padding-top: 2pc;
    padding-bottom: 2pc;
    padding-left: 2pc;
}
#line1, #line2{
    padding-left: 2pc;
    padding-bottom: 1pc;
}

#line2{
    margin-bottom: 4.9pc;
}
